<section class="boxrptSec secSpace-btm" id="sec_story">
    <div class="container-fluid">


        <div class="boxDesig">
            <div class="row aligTx">
                <div class="col-md-6 imgPad">
                    <div class="imgSection">
                        <img src="./assets/images/others/grid-1.png" class="bxImg img-fluid" alt="icon">
                    </div>
                </div>
                <div class="col-md-6 boxConts">
                    <h3 class="mainTitle">Our Vision</h3>
                    <div class="descp">
                        <p>
                            To become the leading supply chain service provider for the energy, chemical, and industrial sectors in KSA and the wider MENA region.
                        </p>
                    </div>
                    
                    <div class="sperator"></div>

                    <h3 class="mainTitle">Our Mission</h3>
                    <div class="descp">
                        <p>
                            To provide reliable, world-class end-to-end supply chain services, creating value for companies in the energy, chemical, and industrial sectors in KSA and the wider MENA region.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxDesig">
            <div class="row aligTx reverseGrid">
                <div class="col-md-6 boxConts">
                    <h3 class="mainTitle">Advancing Saudi Vision 2030</h3>
                    <div class="descp">
                        <p>
                            ASMO plays a role in realizing Saudi Arabia's Vision 2030. We are committed to driving the Kingdom’s economic diversification and industrial growth, aiming to establish a transportation and logistics hub that transcends local boundaries and emerges as a regional leader with global aspirations. <br> <br>
                            As a leading end-to-end supply chain partner, ASMO empowers the local private sector, including SMEs, through initiatives that drive economic growth and create employment opportunities. We are dedicated to strengthening the Kingdom's supply chain resilience by actively participating in the IKTVA program.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 imgPad">
                    <div class="imgSection">
                        <img src="./assets/images/others/grid-2.png" class="bxImg img-fluid" alt="icon">
                    </div>
                </div>
            </div>
        </div>

         <div class="boxDesig">
            <div class="row aligTx">
                <div class="col-md-6 imgPad">
                    <div class="imgSection">
                        <img src="./assets/images/others/grid-3.png" class="bxImg img-fluid" alt="icon">
                    </div>
                </div>
                <div class="col-md-6 boxConts">
                    <h3 class="mainTitle">Building Sustainable Communities</h3>
                    <div class="descp">
                        <p>
                            Our mission extends beyond business—we strive to transform business practices to provide sustainable employment opportunities and protect the environment. Focusing on environmental, social, and governance (ESG) aspects, we develop and retain our employees, uphold the highest standards of corporate governance, and integrate principles of the circular economy.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


