
<section class="bannerSection" id="bannerMove">
    <div class="bannerWraper">

        <div class="container">
            <div class="bannerOuter">
                <div class="bannerConts" id="bannerCont_move">
                    <div class="videoPop">
                        <button type="button" class="pop-playBtn" data-bs-toggle="modal" data-bs-target="#videoModal"><img src="./assets/images/icons/play.svg" class="playIcon" alt="icon"></button>
                    </div>
                    <div class="bannerText">
                        <p>The First Procurement & Logistics Hub in MENA for the Energy, Chemical and Industrial Sectors</p>
                    </div>
                </div>
            </div>

            {{!-- Video_Modal_Popup Start --}}
            <div class="modal fade videoPopup" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <img src="./assets/images/icons/pop-cl.svg" class="playIcon" alt="icon">
                        </button>
                        </div>
                        <div class="modal-body">
                        <div class="ratio ratio-16x9">
                            <iframe id="videoIframe" 
                                    src="https://www.youtube.com/embed/4FR0Nl1mKwU?rel=0&modestbranding=1&iv_load_policy=3" 
                                    title="YouTube video player" 
                                    frameborder="0" 
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                    allowfullscreen>
                            </iframe>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Video_Modal_Popup End --}}

        </div>

        {{!-- Video-Start --}}
        <div class="videoContainer">
            <div class="bgVideo">
                <video autoplay muted loop playsinline>
                    <source src="./assets/videos/banner.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        {{!-- Video-End --}}

    </div>
</section>


<section class="floatingNav">
    <div class="container">

        <ul class="menuBoxs postDivs"  id="floatmenuMove">
            <li>
                <a href="#sec_solution">
                    <span class="menuImg">
                        <img src="./assets/images/icons/menu-1.png" class="menuIcon" alt="icon">
                    </span>
                    <span class="menuTitle">
                        <p>Solutions</p>
                    </span>
                </a>
            </li>
            <li>
                <a href="#sec_principal">
                    <span class="menuImg">
                        <img src="./assets/images/icons/menu-2.png" class="menuIcon" alt="icon">
                    </span>
                    <span class="menuTitle">
                        <p>Principles</p>
                    </span>
                </a>
            </li>
            <li>
                <a href="#sec_story">
                    <span class="menuImg">
                        <img src="./assets/images/icons/menu-3.png" class="menuIcon" alt="icon">
                    </span>
                    <span class="menuTitle">
                        <p>Our Story</p>
                    </span>
                </a>
            </li>
            <li>
                <a href="#sec_insights">
                    <span class="menuImg">
                        <img src="./assets/images/icons/menu-4.png" class="menuIcon" alt="icon">
                    </span>
                    <span class="menuTitle">
                        <p>Insights</p>
                    </span>
                </a>
            </li>
            <li>
                <a href="#sec_brand">
                    <span class="menuImg">
                        <img src="./assets/images/icons/menu-5.png" class="menuIcon" alt="icon">
                    </span>
                    <span class="menuTitle">
                        <p>Brand Book</p>
                    </span>
                </a>
            </li>
        </ul>

    </div>

</section>

