<section class="letsContWraper secSpace">
    <div class="container">

        <div class="row">
            <div class="col-md-5 contSect">
                <h3 class="mainTitle">Let’s Connect</h3>
                <div class="descp">
                    <p>
                        Share your details with us and we’ll get back to you at the earliest.
                    </p>
                </div>
            </div>

            <div class="col-md-7 formWraper">
                <h3 class="formTitle">I am interested as a</h3>
                <div class="formContainer">
                    <form class="row" id="customForm" novalidate>
                        <div class="col-md-12">
                            <div class="radio-group radSpc">
                                <label class="custom-radio">
                                    <input type="radio" name="agreement" value="true" checked required>
                                    <span class="radio-label">Supplier</span>
                                </label>
                                <label class="custom-radio">
                                    <input type="radio" name="agreement" value="false">
                                    <span class="radio-label">Customer</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="fullName" placeholder="Name">
                                <span class="error-message" id="nameError" style="display: none; color: red;">Full Name
                                    is required.</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <span class="error-message" id="emailError" style="display: none; color: red;">Please
                                    enter a valid email address.</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone">
                                <span class="error-message" id="phoneError" style="display: none; color: red;">Please
                                    enter a valid phone number.</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Comments"
                                    minlength="10"></textarea>
                                <span class="error-message" id="messageError" style="display: none; color: red;">Please
                                    enter a message with at least 10 characters.</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group text-end">
                                <button type="submit" class="btn subBtn">Submit <img
                                        src="./assets/images/icons/arrow-right.svg" class="img-fluid"
                                        alt="icon"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>