<section class="upcomingEvntWraper secSpace">
    <div class="container">

        <h3 class="mainTitle">Upcoming Events</h3>

        <div class="cardContainer horizontal-scroll">
            <div class="d-flex flex-nowrap cardAlign">
                <div class="card eventGrid">
                    <div class="storyBoxs">
                        <div class="imgSection">
                            <img src="./assets/images/others/event-1.png" class="UpImgs img-fluid" alt="icon">
                        </div>
                        <div class="boxConts">
                            <div class="dates">
                                <p>15 NOV 2024</p>
                            </div>
                            <h6 class="mainTitle">Event title 1</h6>
                            <div class="locations">
                                <span class="locImg">
                                    <img src="./assets/images/icons/loc.svg" class="loc_icon" alt="icon">
                                </span>
                                <p>
                                    19, 23 Street, M Road, Dubai, United Arab Emirates
                                </p>
                            </div>
                            <a class="btn moreBtn" href="#">Read more<img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon"></a>
                        </div>
                    </div>
                </div>

                <div class="card eventGrid">
                    <div class="storyBoxs">
                        <div class="imgSection">
                            <img src="./assets/images/others/event-2.png" class="UpImgs img-fluid" alt="icon">
                        </div>
                        <div class="boxConts">
                            <div class="dates">
                                <p>15 NOV 2024</p>
                            </div>
                            <h6 class="mainTitle">Event title 1</h6>
                            <div class="locations">
                                <span class="locImg">
                                    <img src="./assets/images/icons/loc.svg" class="loc_icon" alt="icon">
                                </span>
                                <p>
                                    19, 23 Street, M Road, Dubai, United Arab Emirates
                                </p>
                            </div>
                            <a class="btn moreBtn" href="#">Read more<img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon"></a>
                        </div>
                    </div>
                </div>

                <div class="card eventGrid">
                    <div class="storyBoxs">
                        <div class="imgSection">
                            <img src="./assets/images/others/event-3.png" class="UpImgs img-fluid" alt="icon">
                        </div>
                        <div class="boxConts">
                            <div class="dates">
                                <p>15 NOV 2024</p>
                            </div>
                            <h6 class="mainTitle">Event title 1</h6>
                            <div class="locations">
                                <span class="locImg">
                                    <img src="./assets/images/icons/loc.svg" class="loc_icon" alt="icon">
                                </span>
                                <p>
                                    19, 23 Street, M Road, Dubai, United Arab Emirates
                                </p>
                            </div>
                            <a class="btn moreBtn" href="#">Read more<img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


