<section class="insightWraper secSpace" id="sec_insights">

    <div class="topCont-sect">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="mainTitle">Insights & Reports</h1>
                    <div class="descp">
                        <p>
                            Unlock valuable insights and data-driven reports to gain a deeper understanding of trends and opportunities in your industry
                        </p>
                    </div>
                 </div>
                <div class="col-md-5 text-end">
                    <a class="btn moreBtn" href="#">
                        Learn More <img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="contBoxs ClrBx">
            <div class="dates">
                <p>15 NOV 2024</p>
             </div>
            <h5 class="mainTitle">Insight Title</h5>
            <div class="descp">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <a class="btn moreBtn" href="#">
                Read More <img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon">
            </a>
        </div>

        <div class="insightbg">
            <img src="./assets/images/others/insight.png" class="bxs_img" alt="icon">
        </div>
    </div>

</section>


