<section class="latestWraper secSpace">
    <div class="container">

        <h3 class="mainTitle">The Latest</h3>

        <div class="cardContainer horizontal-scroll">
            <div class="d-flex flex-nowrap cardAlign">
                <div class="card newsGrid">
                    <div class="boxConts">
                        <div class="dates">
                            <p>15 NOV 2024</p>
                        </div>
                        <h6 class="mainTitle">Building Sustainable Communities</h6>
                        <div class="descp">
                             <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="folderWrap">
                            <span class="iconImg">
                                <img src="./assets/images/icons/folder.svg" class="fold_icon" alt="icon">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card newsGrid">
                    <div class="boxConts">
                        <div class="dates">
                            <p>15 NOV 2024</p>
                        </div>
                        <h6 class="mainTitle">Building Sustainable Communities</h6>
                        <div class="descp">
                             <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="folderWrap">
                            <span class="iconImg">
                                <img src="./assets/images/icons/folder.svg" class="fold_icon" alt="icon">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card newsGrid">
                    <div class="boxConts">
                        <div class="dates">
                            <p>15 NOV 2024</p>
                        </div>
                        <h6 class="mainTitle">Building Sustainable Communities</h6>
                        <div class="descp">
                             <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="folderWrap">
                            <span class="iconImg">
                                <img src="./assets/images/icons/folder.svg" class="fold_icon" alt="icon">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


