<section class="solutiontWraper secSpace" id="sec_solution">

    <div class="topCont-sect">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="mainTitle">Solutions</h1>
                    <div class="descp">
                        <p>
                            We combine industry expertise with advanced technology to deliver solutions that meet the evolving needs of the energy, chemical, and industrial sectors. 
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-end">
                    <a class="btn moreBtn" href="#">
                        Learn More <img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
          <div class="sliderWraper">
              <div class="sliderBoxs slider-carousel">
                <div class="slide">
                    <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_1.png" alt="icon1">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Supply & Demand Planning</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>ASMO strives for a seamless harmonization of all master data elements across all ecosystem participants, powered by future-proof technologies enabling integrated demand-planning and forecasting through aggregating inputs from participating companies.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_2.png" alt="icon2">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Supplier Management</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>We serve as the central hub for accessing an optimized, well-managed, and disciplined supplier base. It facilitates sustainable procurement decisions including sourcing and international supply chain design through intuitive, automated technology, and processes tailored to meet the demands of its customers.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_3.png" alt="icon3">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Sourcing & Procurement</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>We specialize in consolidated sourcing procurement of materials services from domestic international suppliers. This service includes catalog management, harmonization standardization, streamlined procure-to-pay processes, tailored to enhance efficiency cost-effectiveness for customers. By optimizing these processes, ASMO ensures supply needs are met promptly with precision, supporting seamless operations across industries.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_4.png" alt="icon4">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Inventory Management</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>We integrate innovative solutions to manage and optimize inventory. Its approach ensures efficient storage, reduces excess inventory, and streamlines the flow of goods. Through advanced technology and data integration, ASMO provides real-time visibility and control over inventory levels, enabling strategic decision-making, reducing obsolescence, and improving operational efficiency.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_8.png" alt="icon5">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Control Tower</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>Our Control Tower offers comprehensive visibility and control over the end-to-end supply chain. By integrating predictive analytics and real-time data, the Control Tower enhances decision-making and operational efficiency. It allows for proactive management of supply chain activities, identifying potential disruptions before they occur, and ensuring seamless integration with existing systems.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_6.png" alt="icon6">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Logistics Contractor Management</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>We collaborate with a network of supply chain partners to seamlessly deliver value to customers. By managing logistics contractors, ASMO ensures efficient, reliable, and safe operations, as well as contributing to sustainable in-country value.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="slide">
                   <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_7.png" alt="icon7">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Reclamation Management</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>We offer comprehensive reclamation services for obsolete inventory, including repair, refurbishment, recycling, returning to suppliers, and responsible waste disposal. This service is designed to maximize value from reverse supply chain activities, supporting a circular economy and reducing environmental impacts.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_8.png" alt="icon8">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">e-Marketplace</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>Our B2B e-Marketplace simplifies the purchasing process by connecting multiple suppliers and customers seamlessly. The state-of-the-art platform allows for efficient and transparent transactions with just the click of a button, enhancing connectivity and collaboration across the supply chain. This solution ensures that procurement needs are met efficiently and effectively.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/icons/Icon_9.png" alt="icon9">
                      </div>
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Supply Chain & Logistics Managed Services</h3>
                          <div class="showContent">
                            <div class="descp">
                                <p>We meticulously plan, manage, and execute comprehensive end-to-end supply chain solutions, ensuring the seamless movement of materials from vendors to end customers. Covering aspects such as inbound transportation, storage, and distribution, ASMO operates as a fourth-party logistics provider (4PL), optimizing logistics to achieve maximum efficiency and resilience across the supply chain.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

              </div>
          </div>
    </div>

</section>


