<section class="storyWraper secSpace"  id="sec_brand">
    <div class="container">
       
        <div class="row">
            <div class="col-md-6 spryDiv">
                <div class="storyBoxs">
                    <div class="imgSection">
                        <img src="./assets/images/others/bx1.png" class="bxImg img-fluid" alt="icon">
                    </div>
                    <div class="boxConts">
                        <h3 class="mainTitle">Join our team to become part of our story</h3>
                        <a class="btn moreBtn" href="#">Explore Opportunities <img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 spryDiv">
                <div class="storyBoxs">
                    <div class="imgSection">
                        <img src="./assets/images/others/bx2.png" class="bxImg img-fluid" alt="icon">
                    </div>
                    <div class="boxConts">
                        <div class="versionInfo rightSect">Version 2.0</div>
                        <h3 class="mainTitle">Join our team to become part of our story</h3>
                        <a class="btn moreBtn" href="#">View Brand Guideline <img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


