<section class="solutiontWraper successWraper secSpace"  id="sec_principal">

    <div class="topCont-sect">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="mainTitle">Our Principles of Success</h1>
                    <div class="descp">
                        <p>
                            Empowering individuals to drive innovation with courage, passion, and purpose
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-end">
                    <a class="btn moreBtn" href="#">
                        Learn More <img src="./assets/images/icons/Arrow-R.svg" class="ar_icon" alt="icon">
                    </a>
                </div>
            </div>
        </div>
    </div>

     <div class="wraper SuccessGrids">
          <div class="sliderWraper succesSlider">
              <div class="sliderBoxs slider-grid">
                <div class="slide">
                    <div class="servBox">
                        <div class="contWrapper">
                            <div class="hvrCont">
                            <h3 class="title">Teamwork</h3>
                            <div class="descp">
                                    <p>We are an empowered team, driven by passion and a 'Dare to Lead' attitude</p>
                            </div>
                            <div class="showContent">
                                <div class="descp">
                                    <p>We believe in the power of each individual. We encourage our people to take initiative, embrace challenges, and drive innovation. We prioritize the well-being and safety of our team and empower them to lead with courage and confidence. Our passionate and motivated employees are essential to our success, with each person playing a role in shaping our future & building our community.</p>
                                </div>
                            </div>
                            </div>
                        </div>
                      
                        <div class="imgBox">
                            <img class="slideImg" src="./assets/images/others/success_1.png" alt="img1">
                        </div>
                      </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Integrity</h3>
                          <div class="descp">
                                <p>We build on a foundation of shared trust</p>
                          </div>
                          <div class="showContent">
                            <div class="descp">
                                <p>Integrity is at the heart of everything we do. It is the quality of being honest and showing a consistent and uncompromising adherence to strong moral and ethical principles and values. We believe that being open, honest, and transparent is crucial for building trust. Our commitment to integrity ensures that every action we take is responsible and trustworthy, forming the foundation of our relationships and success.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/others/success_2.png" alt="img2">
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Respect</h3>
                          <div class="descp">
                                <p>We Respect & Value Every Link in the Chain</p>
                          </div>
                          <div class="showContent">
                            <div class="descp">
                                <p>We believe that without respect, there is no link, no chain, and no success. Our success depends on the strength of every link in our chain. If one link is broken, the entire chain is compromised. Our commitment to respect extends from the environment to our people, customers, and suppliers, ensuring that each link is valued and supported.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/others/success_3.png" alt="img3">
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Accountability</h3>
                          <div class="descp">
                                <p>We are accountable in owning our actions and results</p>
                          </div>
                          <div class="showContent">
                            <div class="descp">
                                <p>We take full responsibility for our actions and outcomes. We believe in owning our decisions and their impacts, ensuring that we deliver on our promises and maintain the trust of our partners and clients</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/others/success_4.png" alt="img4">
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Customer Centric</h3>
                          <div class="descp">
                                <p>Our customers are at the core of every link in our chain</p>
                          </div>
                          <div class="showContent">
                            <div class="descp">
                                <p>We recognize that our internal and external customers are the foundation of our success. We aim to understand their end-to-end needs, build strong relationships, and consistently provide value. By focusing on our customers, we strive to make each link in our supply chain operate seamlessly, driving efficiency, reliability, and mutual growth.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/others/success_5.png" alt="img5">
                      </div>
                    </div>
                </div>

                <div class="slide">
                    <div class="servBox">
                      <div class="contWrapper">
                        <div class="hvrCont">
                          <h3 class="title">Excellence</h3>
                          <div class="descp">
                                <p>We strive for excellence in everything we do, prioritizing safety at every step</p>
                          </div>
                          <div class="showContent">
                            <div class="descp">
                                <p>We define excellence as delivering the highest standards while ensuring the safety of our team and partners. We are committed to being industry pioneers, continuously improving and innovating to stay ahead. We aim is to shape tomorrow's supply chain with world-class, reliable, efficient, and sustainable services. By embedding safe practices at our core, we consistently deliver high-quality results.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img class="slideImg" src="./assets/images/others/success_6.png" alt="img6">
                      </div>
                    </div>
                </div>


              </div>
          </div>
    </div>
   
</section>


