


// Primary font Family
$primary-font: "Noto Sans", sans-serif !important;

// Primary font sizes
$font-size-primary: 14px;
$font-size-title: 28px;

// Primary Colors
$primary-color: #EC6C19;
$secondary-color: #0B0807;
$black-color: #000;
$grey-color: #F6F6F6;
$black-light: #303030;
$bg-color: #30231F;
$white-color: #FFF;
$light-color: #FEFEFE;
$hover-color: #C64E00;
$grey-bg:#F0F0F0;





