@use 'header' as *;
@use 'home' as *;
@use 'footer' as *;
@use 'custom' as *;





/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  letter-spacing: 0px;
}


body{
  font-family: $primary-font;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: $secondary-color;
}

body, html {
	width: 100%;
	height: 100%;
}


.container {
  max-width: 1085px;
  padding: 0;
}
.container-fluid{
  max-width: 1600px;
  padding: 0 50px;
}


header, footer, section, .wraper{
  float: left;
  width: 100%;
}

a{
   text-decoration: none;
}
a, button, .btn {
  transition: all ease 0.5s;
}
p{
  margin: 0;
  padding: 0;
}
input, select, textarea, button{
  outline: 0;
  box-shadow: inherit;
}



body::-webkit-scrollbar {
  width: 0.7em;
  background-color: transparent;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #a2a0a0;
}


/* Scroll-to-Top Button Styles */
.scroll-to-top {
  position: fixed;
  bottom: 60px;
  right: 30px;
  background: transparent;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
/* Scroll-to-Top Button eND */







// LOADER-STYLE START

#headerVisible, #newHeaderId {
  z-index: 11;
  position: relative;
}
.loaderLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 100;
  transition: all 2s ease-in-out;

  &.top-center {
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.top-left {
    top: 28px;
    left: 50px;
    transform: translate(0, 0); 
  }
}

.loaderWraps {
  &::after {
    content: ' ';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #FFF;
    min-height: 100vh;
  }

  &.transition-complete {
    visibility: hidden;
  }
}
#moveLogo {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#main_nav {
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

#bannerMove {
  position: absolute;
  bottom: -100%; 
  left: 0;
  width: 100%;
  height: 100px; 
  opacity: 0;
  transition: all 1.5s ease-in-out;
  z-index: 11;

  &.visible {
    opacity: 1;
    bottom: 0; 
  }

  &.move-up {
    bottom: 0; 
    transform: translateY(-72vh);
    z-index: 11;
  }
}
  
#bannerCont_move {
  transform: translateY(100%); /* Start from the bottom (offscreen) */
  opacity: 0; /* Hidden initially */
  transition: transform 1s ease, opacity 1s ease; /* Smooth transition */
}

#bannerCont_move.move-from-bottom  {
  transform: translateY(0); /* Move to the original position */
  opacity: 1; /* Make it visible */
}

#floatmenuMove {
  transform: translate(-50%, 150%); /* Start from the bottom (offscreen) */
  opacity: 0; /* Hidden initially */
  transition: transform 1s ease, opacity 1s ease; /* Smooth transition */
}

#floatmenuMove.move-from-bottom{
  transform: translate(-50%, 0%); /* Move to the original position */
  opacity: 1; /* Make it visible */
  z-index: 12;
}


/* Move to Top Center */
  @keyframes moveToTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50vh);
    }
  }
  
/* Move to Top-Left Corner */
  @keyframes moveToTopLeft {
    0% {
      transform: translateY(-50vh) translateX(0);
    }
    100% {
      transform: translateY(-50vh) translateX(-50vw);
    }
  }
  

// LOADER-STYLE END



.modal-backdrop.fade.show {
    display: none;
}
